* {
    margin: 0;
    padding: 0;
    overflow: visible;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main {
    width: auto;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 20vh auto;
}

.sidebar {
    background-color: #348ceb;
    grid-row: 1 / -1;
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 20px;
}

#title {
    flex: 0 0 auto;
    margin: 0;
}

.user-menu {
    flex: 0 0 auto;
    margin: 0;
}

.config-menu {
    flex: 0 0 auto;
    margin: 0 0 auto 0;
}

.icon-container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 5fr;
    padding: 8px 0;
}

.container {
    background-color: #EEEEEE;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 16px 16px; 
    padding: 16px;
}

.your-projects {
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: 28px auto;
    align-items: top;
    gap: 16px 16px;
    padding: 0;
}

.project-extras {
    display: flex;
    flex-direction: column;
}

h6 {
    font-size: 1.5rem;
    font-weight: bold;
}

.your-projects > h6 {
    grid-column: 1 / -1;
    max-height: fit-content;
}

.project-card {
    min-width: 300px;
    min-height: 200px;
    background-color: white;
    box-shadow: 3px 3px 5px #CCCCCC;
    border-radius: 8px;
    padding: 16px;
    border-left: 8px solid #ffaa54;
}

.card {
    background-color: white;
    box-shadow: 3px 3px 5px #CCCCCC;
    border-radius: 8px;
    padding: 16px;
}

.project-card > .title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 4px;
}

.card > .title {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 4px;
}

.card > .card-text {
    font-size: 0.9rem;
    color: #666666;
}

.card-text {
    font-size: 1rem;
    color: #666666;
}

.announcements {
    flex: 0 0 auto;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 16px 0;
}

.trending {
    flex: 0 0 auto;
    margin: 0 0 auto 0;
    padding: 16px 0 0 0;
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 16px 0;
}

.icon-container > div {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 4px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400
  'GRAD' 0,
  'opsz' 48;
  padding: 2px;
}

.black {
    color: black;
}

.white {
    color: white;
}

.header {
    background-color: white;
    display: grid;
    grid-template-rows: 2fr 2fr;
    gap: 4px;
    box-shadow: 0 3px 5px #CCCCCC;
    z-index:9999;
}

.search {
    display: flex;
    align-items: center;
    padding: 16px;
    gap: 12px;
    margin: 0 24px;
}

.search > input {
    flex: 1;
    background-color: #EEEEEE;
    border: 0 none;
    border-radius: 18px;
    padding: 6px;
    margin-right: 72px;
}

#searchbar:focus {
    outline: none !important;
    border: 1px solid #348ceb;
}

.search > p {
    font-size: 1rem;
    font-weight: bold;
}

.actions {
    display: flex;
    padding: 16px;
    gap: 24px;
    align-items: center;
    margin: 0 24px;
}

.actions > .name {
    flex: 0 0 auto;
    margin: 0;
}

.name > p {
    font-size: 1rem;
    font-weight: bold;
}

.name > h6 {
    font-size: 1.5rem;
    font-weight: bold;
}

.btn {
    flex: 0 0 auto;
    margin: 0;
    background-color: #348ceb;
    padding: 10px 24px;
    border-radius: 18px;
    color: white;
    font-weight: bold;
}

.first-btn {
    margin: 0 0 0 auto;
}

.user-pic-small {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
}

.user-pic-large {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    overflow: hidden;
}

.trending-grid {
    background-color: white;
    box-shadow: 3px 3px 5px #CCCCCC;
    border-radius: 8px;
    padding: 20px;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 20px;
}

.profile-card{
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: left;
    align-items: center;
    gap: 16px;
}

.profile-tag {
    font-size: 1rem;
    color: black;
    padding-bottom: 2px;
}

.profile-status {
    font-size: 1rem;
    color: #666666;
}

.line-break {
    height: 0;
    margin: 20px;
    border: 1px solid #CCCCCC;
}